<%= render DelayedJobAdmin.header if DelayedJobAdmin.header %>

<p>Delayed::Job.count: <%= Delayed::Job.count %></p>

<table id="jobs">
  <thead>
    <tr>
      <th>id</th>
      <th>priority</th>
      <th>attempts</th>
      <th>handler</th>
      <th>last_error</th>
      <th>run_at</th>
      <th>locked_at</th>
      <th>failed_at</th>
      <th>locked_by</th>
      <th>created_at</th>
      <th>updated_at</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% Delayed::Job.all.reverse.each do |job| %>
      <tr class="job" id="job-<%= job.id %>">
        <td><%= job.id %></td>
        <td><%= job.priority %></td>
        <td><%= job.attempts %></td>
        <td><%= truncate(job.handler || '-', :length => 40).gsub('--- !', '') %></td>
        <td><%= truncate(job.last_error || '-', :length => 40) %></td>
        <td><%= format_time(job.run_at) %></td>
        <td><%= format_time(job.locked_at) %></td>
        <td><%= format_time(job.failed_at) %></td>
        <td><%= job.locked_by || '-' %></td>
        <td><%= format_time(job.created_at) %></td>
        <td><%= format_time(job.updated_at) %></td>
        <td class="actions"><% if job.failed_at %><%= link_to "retry", retry_job_delayed_job_admin_path(:job_id => job.id) %><% else %><%= link_to "run now", run_job_now_delayed_job_admin_path(:job_id => job.id) %><% end %></td>
      </tr>
      <tr class="job-details" id="job-details-<%= job.id %>">
        <td colspan="11">
          <p><pre><%= job.to_yaml %></pre></p>
          <p>
            <pre>
            <%= job.last_error.to_s.gsub("\\n", "\n") %>
            </pre>
          </p>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(document).ready(function(){

    $(".job").hover(
      function () {
        $(this).css("cursor", "pointer");
        $(this).addClass("hover");
      },
      function () {
        $(this).removeClass("hover");
      }
    );

    $(".job td[class!='actions']").click(function(event){
      $(this).parents('tr').first().next("tr").toggle();
    });

  });
</script>

<%= render DelayedJobAdmin.footer if DelayedJobAdmin.footer %>
